body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-top {
    background-color: #d7d7d7; /* Fog color background */
    color: #333; /* Light black text */
    padding: 10px 0; /* Adjusted padding */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header-top-left {
    margin-left: 15px;
}

.header-top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.header-top-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-top-right ul li {
    margin: 0 10px;
    border: 1px solid #080808;
    border-radius: 10px;
    padding: 5px 10px; /* Adjusted padding */
}

.header-top-contact {
    color: #666; /* Lighter text color */
}

.header-top-contact a {
    color: #666; /* Lighter text color for links */
    text-decoration: none;
}

.header-top-contact a:hover {
    text-decoration: underline;
}

.logo {
    height: 70px; /* Adjust logo size as needed */
}

.additional-info-container {
    padding: 80px 15px 15px; /* Adjusted padding to account for the header */
    background-color: #f7f7f7;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Space between forms */
    max-width: 1000px; /* Adjust width as needed */
    margin: 0 auto;
    padding: 20px;
}

.form-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1; /* Allow forms to grow and fill space */
    
}

.form-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-section label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-section input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 2px solid #060606;
    border-radius: 10px;
    outline: none;
    margin-bottom: 15px;
}

.form-section button {
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.form-section button:hover {
    background-color: darkred;
}
