body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-top {
    background-color: #d7d7d7; /* Fog color background */
    color: #333; /* Light black text */
    padding: 10px 0; /* Adjusted padding */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header-top-left {
    margin-left: 15px;
}

.logo {
    height: 70px; /* Adjust logo size as needed */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    padding-top: 70px; /* Adjust to account for the header */
    text-align: center;
}

.login-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center; /* Center text within the form */
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    margin-left: -10px; /* Adjust this value as needed to move the heading left */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 2px solid #060606;
    border-radius: 20px;
    outline: none;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: darkred;
}
